<md-card class="full">
  <md-card-header>
    <md-card-title>About me</md-card-title>
    <!-- <md-card-subtitle></md-card-subtitle> -->
  </md-card-header>
  <md-card-content>
    <p>
      I am a passionate developer with work experience and a degree in programming. I write code for work and for fun, love to work with new technologies and enjoy solving difficult problems with creative solutions. I am eager to join a team of likeminded people where I can apply my skills tackling software and engineering challenges.
    </p>

    <div class="seperator"><div class="line"></div></div>

    <md-card-header> <md-card-subtitle>Languages</md-card-subtitle> </md-card-header>
    <md-chip-list>
      <md-chip color="primary" selected="true">C#</md-chip>
      <md-chip color="primary" selected="true">Javascript</md-chip>
      <md-chip color="primary" selected="true">Ruby</md-chip>
      <md-chip color="primary" selected="true">SQL</md-chip>
      <md-chip>C++</md-chip>
      <md-chip>HTML</md-chip>
      <md-chip>CSS</md-chip>
    </md-chip-list>

    <div class="seperator"></div>

    <md-card-header> <md-card-subtitle>Software and Frameworks</md-card-subtitle> </md-card-header>
    <md-chip-list>
      <md-chip color="primary" selected="true">Git</md-chip>
      <md-chip color="primary" selected="true">.Net</md-chip>
      <md-chip color="primary" selected="true">EmberJS</md-chip>
      <md-chip color="primary" selected="true">Postgresql</md-chip>
      <md-chip color="primary" selected="true">Unity</md-chip>
      <md-chip>Sqlite</md-chip>
      <md-chip>Rspec</md-chip>
      <md-chip>Selenium</md-chip>
      <md-chip>Angular</md-chip>
      <md-chip>Nancy</md-chip>
      <md-chip>Monogame</md-chip>
    </md-chip-list>

    <div class="seperator"></div>

    <md-card-header> <md-card-subtitle>Methodologies</md-card-subtitle> </md-card-header>
    <md-chip-list>
      <md-chip color="primary" selected="true">Agile</md-chip>
      <md-chip color="primary" selected="true">Test driven development</md-chip>
    </md-chip-list>
  </md-card-content>
</md-card>

<md-card class="full">
  <md-card-content>
    <md-card-header> <md-card-title class="large">Experience</md-card-title> </md-card-header>
    <div class="seperator"><div class="line"></div></div>

    <md-card-header>
      <md-card-title>Silent Herdsman</md-card-title>
      <md-card-subtitle>Software Engineer 2014 - present</md-card-subtitle>
    </md-card-header>
    <md-chip-list>
      <md-chip color="primary" selected="true">Agile</md-chip>
      <md-chip color="primary" selected="true">Test driven development</md-chip>
      <md-chip color="primary" selected="true">C#</md-chip>
      <md-chip color="primary" selected="true">Javascript</md-chip>
      <md-chip color="primary" selected="true">Ruby</md-chip>
      <md-chip color="primary" selected="true">SQL</md-chip>
      <md-chip color="primary" selected="true">Git</md-chip>
      <md-chip color="primary" selected="true">.Net</md-chip>
      <md-chip color="primary" selected="true">EmberJS</md-chip>
      <md-chip color="primary" selected="true">Postgresql</md-chip>
      <md-chip>Rspec</md-chip>
      <md-chip>Selenium</md-chip>
      <md-chip>C++</md-chip>
      <md-chip>HTML</md-chip>
      <md-chip>CSS</md-chip>
    </md-chip-list>
    <p>I am currently working as a software engineer at Afimilk Silent Herdsman, a biotechnology company. I collaborate with a team developing a full stack system where I contribute to every level of the stack. My main role is developing background services, cow data processing algorithms and tools which are installed on the the customer's PC on their farm. For the past year I have been the main developer of these algorithms and services.</p>

    <p> My responsibilities include:</p>
    <li> Writing C# tools for running automated services on client hardware </li>
    <li> Implementing and developing new algorithms along with researchers </li>
    <li> Syncing data between local PCs and cloud infrastructure </li>
    <li> Maintaining and extending an existing Ruby web server </li>
    <li> Developing a web front end with Ember using JavaScript </li>
    <li> Designing the web front end to adhere to the company’s visual style </li>
    <li> Working with a PostgreSQL database </li>
    <li> Automating builds using continuous integration software </li>
    <li> Writing website integration tests using Selenium web driver </li>
    <li> Writing automated unit and integration tests for C# automated services, Ruby web server and Ember front end </li>

    <div class="seperator"><div class="line"></div></div>

    <md-card-header>
      <md-card-title>Independent Game Development</md-card-title>
      <md-card-subtitle>2011 - present</md-card-subtitle>
    </md-card-header>
    <md-chip-list>
      <md-chip color="primary" selected="true">C#</md-chip>
      <md-chip color="primary" selected="true">Javascript</md-chip>
      <md-chip color="primary" selected="true">SQL</md-chip>
      <md-chip color="primary" selected="true">Git</md-chip>
      <md-chip color="primary" selected="true">.Net</md-chip>
      <md-chip color="primary" selected="true">EmberJS</md-chip>
      <md-chip color="primary" selected="true">Unity</md-chip>
      <md-chip>HTML</md-chip>
      <md-chip>CSS</md-chip>
      <md-chip>Sqlite</md-chip>
      <md-chip>Monogame</md-chip>
    </md-chip-list>
    <p>I am passionate about games programming, and throughout my education and employment I have been developing and releasing games, web apps, frameworks and tutorials.</p>

    <li>Voxelmetric - Lead developer for an open source voxel terrain framework</li>
    <li>Grapple Game - Released a beta version of a puzzle mobile game</li>
    <li>Wordlink - Online word grouping puzzle game with Ember app and C# server</li>
    <li>Unity Voxel Tutorials - Released two 8-part tutorials for programming voxel terrains</li>

    <div class="seperator"><div class="line"></div></div>

    <md-card-header>
      <md-card-title>Hedmark University</md-card-title>
      <md-card-subtitle>Teaching Assistant 2013</md-card-subtitle>
    </md-card-header>
    <md-chip-list>
      <md-chip color="primary" selected="true">C#</md-chip>
      <md-chip color="primary" selected="true">.Net</md-chip>
      <md-chip color="primary" selected="true">Unity</md-chip>
      <md-chip>HTML</md-chip>
      <md-chip>CSS</md-chip>
    </md-chip-list>
    <p>While still a student at university, I spent 5 months working as a paid teacher’s assistant in the following programming courses.</p>

    <li>A C# and Unity3D course where I helped fix errors and scripts as well as teaching design patterns and basic programming to students who were falling behind.</li>
    <li>An HTML and CSS web development course where I taught students how to achieve specific effects with HTML, CSS and JavaScript</li>

    <div class="seperator"><div class="line"></div></div>

    <md-card-header>
      <md-card-title>Brast - Brannvakta Studentersamfunn</md-card-title>
      <md-card-subtitle>Web Ansvarlig</md-card-subtitle>
    </md-card-header>
    <md-chip-list>
      <md-chip color="primary" selected="true">C#</md-chip>
      <md-chip color="primary" selected="true">.Net</md-chip>
      <md-chip color="primary" selected="true">Unity</md-chip>
      <md-chip>HTML</md-chip>
      <md-chip>CSS</md-chip>
    </md-chip-list>
    <p>I joined my university’s student union and was soon after elected web responsible for the organisation. As such, I held a position in the union's leadership and was responsible for:</p>

    <li>Creating and managing the organisation's website</li>
    <li>Organizing and volunteering at numerous events</li>

  </md-card-content>
</md-card>
