footer {
  width: calc(100% - 40px);
  padding: 20px;
  background-color: #3f51b5;
  color: #bbb;
  font-family: 'Roboto', sans-serif;
}

#center {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  text-align: center;
}

a {
  color: #fff;
  text-transform: none;
  text-decoration: none;
}
