<md-card class="full">
  <md-card-content>
    <md-card-header> <md-card-title class="large">Say hi</md-card-title> </md-card-header>
    <div class="seperator"><div class="line"></div></div>

    <md-list>
      <a href="https://twitter.com/irt_io" md-list-item>
        <img md-list-avatar src="../../assets/images/twitter.svg" alt="...">
        <h4 md-line>Twitter</h4>
        <p md-line>@irt_io</p>
      </a>
      <a href="https://github.com/irt-io" md-list-item>
        <img md-list-avatar src="../../assets/images/github-circle.svg" alt="...">
        <h4 md-line>Github</h4>
        <p md-line>irt-io</p>
      </a>
      <a href="https://www.linkedin.com/in/alexanderstavrinou/" md-list-item>
        <img md-list-avatar src="../../assets/images/linkedin.svg" alt="...">
        <h4 md-line>Linkedin</h4>
        <p md-line>Alexander Stavrinou</p>
      </a>
      <a href="mailto:alex@irt.io?Subject=Hi" md-list-item>
        <img md-list-avatar src="../../assets/images/email-open.svg" alt="...">
        <h4 md-line>Email</h4>
        <p md-line>alex@irt.io</p>
      </a>
    </md-list>
  </md-card-content>
</md-card>
