md-card {
  float: left;
  width: 420px;
  margin: 20px !important;
}

md-card.full {
  width: calc(100% - 88px);
}

@media only screen and (max-width: 600px) {
  md-card {
    width: calc(100% - 68px) !important;
  }
}

md-card-title {
  font-size: 22px !important;
}

md-card-title.large {
  font-size: 28px !important;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.seperator {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
}

.line {
  position: relative;
  width: calc(100% + 48px);
  left: -24px;
  right: -24px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

@media only screen and (max-width: 600px) {
  .line {
    width: calc(100% + 32px);
    left: -16px;
    right: -16px;
  }
}


.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}

.mat-list .mat-list-item .mat-list-avatar {
  opacity: 0.6;
  border-radius: 0;
}
